
.p5Container{
    justify-content: center;
    display: flex;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.md-typeset h1,
.md-typeset h2, 
.md-typeset h3{
    text-align: left;
    margin: 0 0 0.25em
}

.md-content {
    text-align: justify;
}

[data-md-color-scheme="unilasalle"] {
    --md-primary-fg-color:        #4687e9;
    --md-primary-button-color: var(--md-primary-fg-color)
}


[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #f54545;
    --md-typeset-a-color:         #f54545;
    --md-hue: 210; /* [0, 360] */
  }

.md-typeset .md-button {
    border: .1rem solid;
    border-radius: .1rem;
    color: var(--md-primary-button-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: .625em 2em;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset .md-button--primary {
    background-color: var(--md-primary-button-color);
    border-color: var(--md-primary-button-color);
    color: var(--md-accent-bg-color);
}

.md-nav__item {
    padding: 0 .6rem;
}

.unilogo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 40px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.CCLogo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 50px!important;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.UPJVLogo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 60px!important;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.md-grid {
  max-width: 1440px; 
}

.md-typeset__table {
  width: auto;
}

.md-typeset__table table:not([class]) {
  display: table
}

.center {
  display: block;
  margin: 0 auto;
}

.right {
  float : right;
}

@media (min-width: 1220px) {
  .md-main__inner {
    margin-top: 0;
  }
  .md-sidebar {
    height: auto;
  }
  .md-sidebar--primary {
    border-right: 1px solid var(--md-default-fg-color--lightest);
  }
  .md-nav {
    font-size: 16px;
  }
  .md-nav .md-nav__title {
    display: none;
  }
  .md-nav__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -.1rem;
  }
}



.footerLogo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 50px!important;
    margin: 10px!important;
    background-color: rgba(255, 255, 255, 0);
}

img {
    height: auto;
    width: auto;
    padding: 4px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
}

.sketch{
    margin: 0;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-no-border{
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0);
}

.img-no-padding{
    padding: 0 !important;
}


.img-medium{
    width: 50%;
}

.img-small{
    width: 20%;
}



.mermaid { 
  --md-mermaid-font-family:            var(--md-text-font-family), sans-serif; 

  --md-mermaid-edge-color:             var(--md-code-fg-color); 
  --md-mermaid-node-bg-color:          var(--md-accent-fg-color--transparent); 
  --md-mermaid-node-fg-color:          var(--md-accent-fg-color); 
  --md-mermaid-label-bg-color:         var(--md-default-bg-color); 
  --md-mermaid-label-fg-color:         var(--md-code-fg-color); 

  margin: 1em 0; 
  line-height: normal; 
} 








.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
